<li>
	<a>Sacred Rocks</a>
</li>
<li>
	<a>
		<label class="checkbox">
			<input type="checkbox">
		</label>
		The Sacred Traverse
		<ul class="stars">
			<i class="icon-star"></i>
			<i class="icon-star"></i>
		</ul>
		<i class="icon-chevron-right"></i>
		<span class="label label-important">V3 or V4</span>
	</a>
</li>
<li>
	<a>
		<label class="checkbox">
			<input type="checkbox">
		</label>
		The Sugar Traverse
		<ul class="stars">
			<i class="icon-star"></i>
			<i class="icon-star"></i>
			<i class="icon-star"></i>
		</ul>
		<i class="icon-chevron-right"></i>
		<span class="label label-important">V5</span>
	</a>
</li>
<li>
	<a>
		<label class="checkbox">
			<input type="checkbox">
		</label>
		Call of the Wild
		<ul class="stars">
			<i class="icon-star"></i>
			<i class="icon-star"></i>
			<i class="icon-star"></i>
		</ul>
		<i class="icon-chevron-right"></i>
		<span class="label label-important">V3</span>
	</a>
</li>
<li>
	<a>
		<label class="checkbox">
			<input type="checkbox">
		</label>
		Enchanted
		<ul class="stars">
			<i class="icon-star"></i>
		</ul>
		<i class="icon-chevron-right"></i>
		<span class="label label-important">V4</span>
	</a>
</li>
<li>
	<a>
		<label class="checkbox">
			<input type="checkbox">
		</label>
		White Fang
		<ul class="stars">
			<i class="icon-star"></i>
			<i class="icon-star"></i>
			<i class="icon-star"></i>
		</ul>
		<i class="icon-chevron-right"></i>
		<span class="label label-important">V6</span>
	</a>
</li>