<div id="subNav" class="navbar navbar-fixed-top">	
	<div class="navbar-inner">
		<ul class="nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" href="#" data-toggle="dropdown">
					Climbing Style<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
			      	<li id="sport">
			        	<a href="#sport">Sport</a>
			        </li>
			        <li id="trad">
			        	<a href="#trad">Trad</a>
			        </li>
			        <li id="bouldering">
			        	<a href="#bouldering">Bouldering</a>
			        </li>
			        <li id="dws">
			        	<a href="#dws">Deep Water Soloing</a>
			        </li>
				</ul>
			</li>
			<li id="searchBar">
		    	<form class="form-search">
			    	<div class="input-append">
			    		<input id="searchField" class="input-medium search-query" type="text" data-provide="typeahead" placeholder="Search">
			    		<button id="searchBtn" type="submit" class="btn">
			    			<i class="icon-search"></i>
			    		</button>	    
			    	</div>
		    	</form>
		  	</li>
		  	<li id="gradesSlider" class="container">
		  		<div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
		  			<div class="ui-slider-range ui-widget-header"></div>
		  			<a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
		  			<a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
		  		</div>
	  		</li>
	  		<li id="gradeLabel"> 
		  		<span class="label label-important"></span>
		  	</li>
		</ul>
	</div>
</div>